/**  =====================
      Generic-class css start
==========================  **/
/**  =====================
      Margin-classes start
==========================  **/
/*========== All Margin ===========*/
.m-0 {
  margin: 0 !important;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

/*========== Margin top ===========*/
.m-t-0 {
  margin-top: 0;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-t-150 {
  margin-top: 150px;
}

/*========== Margin Bottom ===========*/
.m-b-0 {
  margin-bottom: 0;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-70 {
  margin-bottom: 70px;
}

/*========== Margin left ===========*/
.m-l-0 {
  margin-left: 0;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-45 {
  margin-left: 45px;
}

.m-l-50 {
  margin-left: 50px;
}

/*========== Margin Right ===========*/
.m-r-0 {
  margin-right: 0;
}

.m-r-3 {
  margin-right: 3px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-r-50 {
  margin-right: 50px;
}

/**  =====================
      Padding-classes start
==========================  **/
/*========== All Padding ===========*/
.p-0 {
  padding: 0 !important;
}

.p-3 {
  padding: 3px;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px !important;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

/*========== Padding top ===========*/
.p-t-0 {
  padding-top: 0;
}

.p-t-2 {
  padding-top: 2px !important;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-45 {
  padding-top: 45px;
}

.p-t-50 {
  padding-top: 50px;
}

/*========== Padding Bottom ===========*/
.p-b-0 {
  padding-bottom: 0;
}

.p-b-2 {
  padding-bottom: 2px !important;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

/*========== Padding left ===========*/
.p-l-0 {
  padding-left: 0;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-35 {
  padding-left: 35px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-l-45 {
  padding-left: 45px;
}

.p-l-50 {
  padding-left: 50px;
}

/*========== Padding Right ===========*/
.p-r-0 {
  padding-right: 0;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-r-25 {
  padding-right: 25px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-r-35 {
  padding-right: 35px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-r-45 {
  padding-right: 45px;
}

.p-r-50 {
  padding-right: 50px;
}

/**  =====================
      Font-classes start
==========================  **/
/*========== Font Size ===========*/
.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px !important;
}

.f-28 {
  font-size: 28px;
}

.f-30 {
  font-size: 30px;
}

.f-35 {
  font-size: 35px;
}

.f-40 {
  font-size: 40px;
}

.f-45 {
  font-size: 45px;
}

.f-52 {
  font-size: 52px;
}

.f-64 {
  font-size: 64px;
}

.f-90 {
  font-size: 90px;
}

.f-120 {
  font-size: 120px;
}

/*========== Font Weight ===========*/
.f-w-100 {
  font-weight: 100;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-700 {
  font-weight: 700;
}

.f-w-900 {
  font-weight: 900;
}

.f-bold {
  font-weight: bold;
}

.f-thin {
  font-weight: lighter;
}

/*========== Font Style ===========*/
.f-normal {
  font-style: normal;
}

.f-italic {
  font-style: italic;
}

.f-oblique {
  font-style: oblique;
}

/**  =====================
      Text-classes start
==========================  **/
/*========== Text align ===========*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-overline {
  text-decoration: overline;
}

.text-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-plain {
  text-decoration: none;
}

/**  =====================
      Positions start
==========================  **/
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-static {
  position: static;
}

.p-fixed {
  position: fixed;
}

/**  =====================
      Floating start
==========================  **/
.f-left {
  float: left;
}

.f-right {
  float: right !important;
}

.f-none {
  float: none;
}

/**  =====================
      Overflow css start
==========================  **/
.o-hidden {
  overflow: hidden;
}

.o-auto {
  overflow: auto;
}

.o-visible {
  overflow: visible;
}

/**  =====================
      Background Color css start
==========================  **/
.bg-color-box {
  text-align: center;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.49);
  box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.49);
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.bg-color-box span {
  display: block;
}

.bg-primary {
  background-color: #2196F3 !important;
}

.bg-dark-primary {
  background-color: #2f80e7 !important;
}

.bg-success {
  background-color: #4CAF50 !important;
}

.bg-dark-success {
  background-color: #4ca250 !important;
}

.bg-danger {
  background-color: #ff5252 !important;
}

.bg-danger {
  background-color: #ff5252 !important;
}

.bg-info {
  background-color: #40c4ff !important;
}

.bg-warning {
  background-color: #f57c00 !important;
}

.bg-dark-warning {
  background-color: #de7203 !important;
}

.bg-default {
  background-color: #757575 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-twitter {
  background-color: #1da1f2;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-dark-facebook {
  background-color: #334e88 !important;
}

.bg-gray {
  background-color: #d7d8da;
}

.danger-color {
  background: #ff4444;
}

.warning-color {
  background: #ffbb33;
}

.success-color {
  background: #00C851;
}

.info-color {
  background: #33b5e5;
}

.default-color {
  background: #2BBBAD;
}

.primary-color {
  background: #4285F4;
}

.secondary-color {
  background: #aa66cc;
}

.elegant-color {
  background: #2E2E2E;
}

.stylish-color {
  background: #3F729B;
}

.stylish-color {
  background: #3F729B;
}

.special-color {
  background: #37474F;
}

/**  =====================
      Text-color css start
==========================  **/
.txt-primary {
  color: #2196F3 !important;
}

.txt-white {
  color: #fff !important;
}

.txt-muted {
  color: #777 !important;
}

.txt-success {
  color: #4CAF50 !important;
}

.txt-info {
  color: #40c4ff !important;
}

.txt-warning {
  color: #f57c00 !important;
}

.txt-danger {
  color: #ff5252 !important;
}

/**  =====================
      Display-classes start
==========================  **/
.d-flex {
  display: flex;
  align-items: center;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inlineblock {
  display: inline-block;
}

/**  =====================
      vertical-classes start
==========================  **/
.v-middle {
  vertical-align: middle !important;
}

.v-top {
  vertical-align: top;
}

.v-bottom {
  vertical-align: bottom;
}

/**  =====================
      Border-classes start
==========================  **/
.b-none {
  border: none !important;
}

.b-solid {
  border: 1px solid #333;
}

.b-dotted {
  border: 1px dotted #333;
}

.b-radius-0 {
  border-radius: 1px dotted #333;
}

.b-b-muted {
  border-bottom: 1px solid #ccc;
}

.b-t-muted {
  border-top: 1px solid #ccc;
}

.b-l-muted {
  border-left: 1px solid #ccc;
}

.b-r-muted {
  border-right: 1px solid #ccc;
}

/**====== Generic-class css end ======**/

/*# sourceMappingURL=generic-class.css.map */
