/** Template Name: Able Pro Responsive Bootstrap 4 Admin Template
Author: Codedthemes
Email: support@phopenixcoded.net
File: menu-bottom.css
**/
/* b-menu start */
@import "genral";
body{
    @include mb(50px);
}
.mega-card{
    @include pt(10px);
    h6 {
        @include mb(0);
        @include c(#1b8bf9);
        @include f-w(700);
    }
}

ul.mega-list li {
    > a{
        @include p(3px 5px);
        @include c(#666);
        @include f-s(13px);
        &:hover{
            @include c(#1b8bf9);
        }
        > i{
            @include f-s(10px);
        }
    }
    a{
        @include b(none,top);
    }
    &:last-child a{
        @include mb(15px);
    }
}
#b-menu{
    @include pos(fixed);
    bottom: 30px;
    width: 90%;
    @include m(0 auto);
    height: 50px;
    left: 5%;
    z-index: 9999;
    a.b-menu-icon{
        @include c(#fff);
        &:hover{
            @include bg(#0074e5);
        }
    }
    ul.b-menu-left li a,ul.b-menu-right li a{
        @include f-s(13px);
        @include c(#fff);
    }
    .dropup .dropdown-menu{
        li{
            @include f-s(13px);
            @include p(10px 15px 10px 20px);
            @include b(1px solid #efefef,top);
            a{
                text-transform: capitalize;
            }
            &:hover{
                cursor: pointer;
                @include c(#1b8bf9);
            }
        }
        .sub-menu{
            bottom: 100%;
            top: auto;
            @include mb(-30px);
            li{
                @include disp(block);
            }
        }
    }
    .mega-card .mega-list li{
        @include p(5px);
        a{
            @include p(3px 5px);
        }
    }
    .b-menu-left ,.b-menu-right{
        li:hover a,li:hover{
            @include bg(#fff);
            @include c(#666);
        }
    }
}

.b-menu-main{
    @include disp(none);
}

.b-menu-icon{
    @include pos(absolute);
    left: 50%;
    @include ml(-25px);
    top: 0px;
    z-index: 9999;
    width: 50px;
    @include t-a(center);
    height: 100%;
    @include bg(#1b8bf9);
    @include pt(14px);
    @include b(50%,radius);
    &.radius{
        @include b(0,radius);
    }
}

.b-menu-left{
    @include flt(right);
    @include disp(none);
    @include bg(#1b8bf9);
    @include p(0 25px);
    @include b(25px 0 0 25px,radius);
    li.dropup-mega ul.dropdown-menu{
        left:0;
    }
}
.b-menu-right{
    @include flt(left);
    @include disp(none);
    @include bg(#1b8bf9);
    @include b(0 25px 25px 0,radius);
    @include p(0 25px);
}
.b-menu-left ,.b-menu-right{
    li{
        @include disp(inline-block);
        @include p(14px 5px);
        ul.dropdown-menu li{
            @include p(0px);
        }
    }
}

.mega-list li{
    @include disp(block);
    @include p(5px);
}

.dropdown-menu{
    li{
        &:hover .sub-menu {
            visibility: visible;
        }
        &.dropdown-item {
            @include p(0px 10px);
        }
    }
    .sub-menu{
        li:hover .sub-menu {
            visibility: visible;
        }
    }
    .sub-menu ,.dropdown-menu .sub-menu {
        left: 100%;
        @include pos(absolute);
        top: 0;
        visibility: hidden;
        @include mt(-1px);
    }
}

.dropdown:hover .dropdown-menu {
    @include disp(block);
}
.dropup-mega .dropdown-menu{
    @include m(0);
    top: auto;
    bottom: 100%;
    width: 200%;
}
.dropup .dropdown-menu{
    @include m(0);
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    @include mt(0);
}
.navbar{
    .sub-menu{
        &:before {
            @include b(7px solid transparent,bottom);
            @include b(none,left);
            @include b(7px solid rgba(0, 0, 0, 0.2),right);
            @include b(7px solid transparent,top);
            left: -7px;
            top: 10px;
        }
        &:after {
            @include b(6px solid transparent,top);
            @include b(none,left);
            @include b(6px solid #fff,right);
            @include b(6px solid transparent,bottom);
            left: 10px;
            top: 11px;
            left: -6px;
        }
    }
}

.b-menu-right li.dropup-mega .dropdown-menu, .b-menu-right .dropdown .dropdown-menu,.b-menu-left li.dropup-mega .dropdown-menu, .b-menu-left .dropdown .dropdown-menu{
    @include m(0);
}
.b-menu-right li.dropup-mega .dropdown-menu, .b-menu-right .dropdown .dropdown-menu{
    left:-100%;
}

.rotate-remove-plus{
    @include transform(rotate(45deg));
}
.sub-title{
    @include pb(5px);
}

/*responsive */
@media only screen and (max-width: 767px) {
    #b-menu .dropup-mega .dropdown-menu{
        max-height: 100%;
        @include o-f(auto);
        min-height: 200px;
    }
}
@media only screen and (max-width: 992px) {
    #b-menu{
        @include pos(static);
        @include ml(0);
        @include mt(15px);
        height: 0;
        .row{
            @include pos(fixed);
            bottom: 5px;
            left: 15px;
            width: 100%;
            z-index: 9999;
        }
        .b-menu-icon{
            @include pos(fixed);
            height: 50px;
            bottom: 0;
            top: 90%;
        }
        .b-menu-left{
            @include flt(left);
            @include p(0);
            width: 250px;
            @include b(0,radius);
            @include mb(0);
        }
        .b-menu-right{
            @include p(0);
            width: 250px;
            @include b(0,radius);
        }

        .b-menu-left ,.b-menu-right{
            li{
                width: 100%;
                @include p(10px);
                min-width: 250px;
                @include b(2px solid #fff,bottom);
                .dropup li{
                    min-width: auto;
                }
            }
        }
        .dropup .dropdown-menu{
            top: 100%;
            bottom: auto;
            .sub-menu {
                top: 0;
                @include mb(-30px);
                right: 0;
                left: 100%;
                bottom: auto;
            }
        }
        .dropup-mega .dropdown-menu {
            @include m(0);
            bottom: auto;
            width: 195%;
            right: -100%;
            left: auto;
            @include mb(50px);
            max-height: 200%;
            @include o-f(auto);
            .mega-card{
                @include p(0);
                .mega-list{
                    @include mb(10px);
                }
            }
            .sub-title{
                @include pb(5px);
                @include mt(10px);
            }
            .mega-list li{
                @include p(0);
                @include bg(inherit);
                min-width: auto;
            }
        }
    }
    .mega-card ul.mega-list li:last-child{
        @include mb(0);
    }
}
